// greyscale
$black: #222;
$lightGrey: #d2d7d3;
$grey: #bdc3c7;
$darkGrey: rgba(108, 122, 137, 0.9);
$white: #fefefe;

// blues
$lightBlue: #81cfe0;
$blue: #22a7f0;
$darkBlue: #446cb3;

// reds
$lightRed: #e74c3c;
$red: #d91e18;
$darkRed: #96281b;

