.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

.flexContainerElement {
    flex: 1;
    align-self: center;
}