footer {
    display: block;
    margin: 0;
    padding-top: 2rem;
    padding-left: $contentPaddingLeft;
    padding-bottom: 2rem;
    padding-right: $contentPaddingRight; 
    background: $darkGrey;
    
    color: $white;
    font-size: .75rem;
    line-height: 1rem;

    & a {
        color: inherit;
    }

    & p {
        margin: .75rem 0;

        &:first-child {
            margin: 0;
        }
    }

    & img {
        display: block;
        width: 100%;
    }

    & > div {
        padding: 0 2rem 0 2rem;
    }

    & > div:first-child {
        padding-left: 0;
    }

    & > div:last-child {
        padding-right: 0;
    }
}

#footerLogo {
    flex-grow: .5;
    flex-basis: .5;
    flex-shrink: .5;

    & > img {
        max-width: 16rem;
    }
}